// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css?family=Heebo:700,900&display=swap');

h1,h2,h3,h4,h5,h6 {
	font-family: 'Heebo', sans-serif;
	font-weight: 700;	
}


/*header*/

.navbar-brand {
	font-size: 3.5em;
	font-family: 'Heebo', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	white-space: normal;
	line-height: 1em;
}

#main-menu {
	margin-top: 10px;
}

#main-menu a {
	font-weight: 500;
	font-family: 'Heebo', sans-serif;
	color: #000;
	text-transform: uppercase;
	border-left: 1px solid $pink;	
}

.alt {
	margin-bottom: 20px;
}

/*sidebar art*/
#h-title {	
    transition: all 2s;   
    border-left: 50px solid $pink;
    padding-left: 10px;
    line-height: 1em;
}

.exhibit-desc{
    position: fixed;
    bottom: 20px;
    width: 250px;
    background-color: #fff;
}

/*general*/


.static {
	position: fixed;
	top:0;
	width: 100%;
}

.widget-title {
	margin-top: 30px;
}

#art-page-wrapper .entry-content img:first-of-type {
	margin: 0px auto 50px auto;
	
	display: block;
}

.entry-content img{
	margin: 50px auto;
	display: block;
}

#art-page-wrapper {
	padding:0;
}

/*mobile land*/

@media (max-width: 768px) { 
	#h-title {
	    position: static;
	    width: 100%;
	}
 }

